<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %level %logger{1} - %msg%n"/>
        </Console>

        <RollingFile name="fileAppender" fileName="./log/pi-client/log-${date:yyyy-MM-dd}.log"
                     filePattern="./log/pi-client/log-%d{yyyy-MM-dd}-i%.log"
                     immediateFlush="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %level %logger{1} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="Console" level="DEBUG"/>
            <Appender-ref ref="fileAppender" level="DEBUG"/>
        </Root>
    </Loggers>
</Configuration>
